#login-card{
    margin: 0 auto; /*左右の余白が自動計算されて中央寄せ*/
    width: 500px;
    text-align: center;
    margin-top: 50px;
}

#subtitle{
    margin-top: 20px;
    margin-bottom: 5px;
}

#title{
    font-family: cursive;
    font-weight: bolder;
}

#login-button{
    background-color: royalblue;
    color: white;
    margin-bottom: 20px;
}