<mat-toolbar color="primary">
    <span>MeTiMa</span>
</mat-toolbar>

{{routeParam}}
<mat-card class="login-card">

    <mat-card-title class="login-title">
        MeTiMa
    </mat-card-title>
    <mat-card-content>

        <form [formGroup]="myControl" (ngSubmit)="onSubmit()" class="login-form">

            <mat-form-field appearance="outline">
                <mat-label>メールアドレス</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>

            <p *ngIf="email.invalid">メールアドレスは必須です</p>

            <mat-form-field appearance="outline">
                <mat-label>パスワード</mat-label>
                <input matInput type="password" formControlName="pass">
            </mat-form-field>

            <p *ngIf="pass.invalid">パスワードは必須です</p>

            <mat-form-field appearance="fill">
                <mat-label>会議室選択</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option *ngFor="let facility of facilities" [value]="facility.id">
                      {{facility.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p>selected: {{selected}}</p>

            <button [disabled]="myControl.invalid" type="submit" mat-raised-button color="primary">ログイン</button>

            <p style="color: red;">{{message}}</p>
        </form>
    </mat-card-content>
</mat-card>