<div style="background-color: white;">
    <mat-card style="margin: 10px;" class="mat-elevation-z5">
        <span id="date">{{now | date:"yyyy/MM/dd"}}</span>
        <mat-card-title id="meeting-room">
            <h2>{{facilityName}}</h2>
        </mat-card-title>

        <!-- 共通タイマーを入れる -->

        <mat-card-content>

            <mat-accordion>


                <mat-card style="text-align: center;" *ngIf="scheduleList === undefined">{{message}}</mat-card>

                <!-- スケジュールリスト -->
                <mat-expansion-panel style="margin: 10px;" *ngFor="let s of scheduleList; first as f" [expanded]="f"
                    (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                    <mat-expansion-panel-header class="meeting-title">

                        <mat-panel-title class="meeting-title">
                            <mat-icon *ngIf="f" id="now-icon">double_arrow</mat-icon>
                            {{s.startDate | date:'HH:mm'}} ~ {{s.endDate | date:'HH:mm'}}
                        </mat-panel-title>


                        <mat-panel-description class="meeting-title">

                            <p style="text-align: left;">
                                <span id="eventMenu">{{s.eventMenu}}</span>
                                {{s.subject}}
                            </p>

                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <mat-card style="margin-top: 10px;">
                        <p>＜参加者＞<br>
                            <span *ngFor="let atds of s.attendees" style="margin-right: 10px;">
                                <mat-icon id="attendees">person</mat-icon>
                                {{atds.name}}
                            </span>
                        </p>
                        <p>＜メモ＞<br>
                            {{s.memo}}
                        </p>
                    </mat-card>

                    <ng-template [ngIf]="f">
                        <!-- 次の会議が連続しているかどうか -->
                        <mat-action-row *ngIf="flg; else nextNG">
                            <button mat-button id="extend" (click)="extention($event)">延長</button>
                        </mat-action-row>
                        <ng-template #nextNG>
                            <mat-action-row>
                                <button mat-button disabled id="not-extend">延長NG</button>
                            </mat-action-row>
                        </ng-template>
                    </ng-template>

                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>