<!-- ツールバー -->
<mat-toolbar color="primary" class="flexSpaceBetween">
    <span>
        MeTiMa
    </span>
    <span>{{target.subject}}</span>
    <span>
        <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">timer</mat-icon>
            タイマー
        </ng-template>
        <app-timer [countDown]="countDown" [target]="target" [scheduleList]="scheduleList"
            (action)="doClick($event)"></app-timer>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event</mat-icon>
            スケジュール
        </ng-template>
        <app-schedule [scheduleList]="scheduleList" (action)="doClick($event)"></app-schedule>
    </mat-tab>

</mat-tab-group>